<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap" rel="stylesheet"> 

    <!-- MDB -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
        rel="stylesheet"
    />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
    />

    <!-- Graph stuff-->
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <link href="https://go-echarts.github.io/go-echarts-assets/assets/bulma.min.css" rel="stylesheet">

    <link href="../static/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="../static/stylesheets/graphPage.css" rel="stylesheet" type="text/css">


    <link rel="apple-touch-icon" sizes="57x57" href="static/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.2/echarts.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js" integrity="sha256-RySf951sAEWQzKl5M+wHL5OQrVfQu/FmEfbSbBpP740=" crossorigin="anonymous"></script>

    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/6561327?s=460&v=4" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cathaloc.dev" />
    <meta property="og:title" content="SteamFriendsGraphing, graph your network of friends on Steam" />
    <meta property="og:description" content="NUIG Computer Science & IT Final Year Project 2021" />

    <title>SteamFriendsGraphing</title>

</head>

<body>

    <div class="container">

        <div class="row">
            <!-- Dont ask why this needs to be included -->
        </div>

        <div class="row">
            <div class="col">
                <p class="text-center mainText display-2 mt-3 mb-0" style="font-weight: 600;" id="titleText">
                    Steam Friends Graphing
                </p>
            </div>
        </div>
       
        <div class="mt-5">
            <!-- God forgive me for these stupid fixes that just about work -->
        </div>

        <div class="row box pt-3 pb-3" id="graphBox">
            <div class="col">
                <div id="graphContainer" style="width: 100%; height: 800px">
                    
                </div>
            </div>
        </div>
        

        <div class="row mt-3 mb-3">
            <div class="col text-center">
                <p style="font-size: 2rem">Showing data for</p>
            </div>
        </div>


        <div class="row">
            <div class="col-3"></div> <!-- left spacing -->

            <!-- User info card -->
            <div class="col-6 box">
                <div class="row ml-0">
                    <div class="col-8">
                        <div class="row">
                            <div class="col mb-2">
                                <p id="userUsername" class="skeleton" style="font-size: 2rem; font-weight: 700; width: 80%; height: 3rem" >
                                    
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>
                                    Country:
                                </p>
                            </div>
                            <div class="col">
                                <p id="userCountry" style="font-weight: 500" class="skeleton skeleton-text"></p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>
                                    Friends: 
                                </p>
                            </div>
                            <div class="col">
                                <p id="userFriendCount" style="font-weight: 500; width: 90%" class="skeleton skeleton-text">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>
                                    Created:
                                </p>
                            </div>
                            <div class="col truncate">
                                <p id="userCreationDate" style="font-weight: 500" class="skeleton skeleton-text">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>
                                    Profile: 
                                </p>
                            </div>
                            <div class="col">
                                <p id="userProfile" style="font-weight: 500; width: 83%" class="skeleton skeleton-text">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col" id="userAvatarCol">
                        <div class="userProfiler" style="position: relative">
                            <img class="mr-1 float-end skeleton" style="border-radius: 10px; height: 10rem; width: 10rem" id="userAvatar"></img>
                        </div>
                        <div class="userCountry " style="position: absolute; bottom: 0; left: 12%;">
                            <img id="userCountryFlag" class="float-end" style="width: 50%"></img>
                        </div>
                    </div>
                </div>
            </div><!-- end user info card -->
        </div>


        <div class="row mt-5 mb-1 cleanText">
            <div class="col box mr-1"> 
                <div class="row text-center">
                    <p style="font-size: 1.4rem"> Where do all of your friends come from?</p>
                </div>
                <div class="row mr-2" id="firstChart" style="height: 50rem">
                  
                <!-- country graph here -->

                </div>

            </div>
        </div>


        <div class="row mt-3 mb-3">
            <div class="col-3 box ml-2" style="height: 29.5rem" >
                <div class="row mb-2">
                    <div class="col text-center">
                        <p style="font-size: 1.8rem;">Top 10 Countries</p>
                    </div>
                 </div>
                 <hr class="mt-1 mb-4">

                 <div id="topTenCountriesList">
                    
                 </div>
            </div>

            <div class="col">
                <div class="row ml-2 mr-2">
                    <div class="col-3 box pl-3 pr-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxFriendCount"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">friends</p>
                        </div>
                    </div>
                    <div class="col-3 box pl-3 pr-2 ml-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxUniqueCountries"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">unique countries</p>
                        </div>
                    </div>
                    <div class="col-3 box pl-3 pr-2 ml-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxGlobalCoverage"></p>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <p style="bottom: 0">global coverage</p>
                            </div>
                            <div class="col">
                                <svg version="1.1" height="18px" width="18px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                                    <g>
                                        <g title="Percentage of the 195 UN recognised countries where one or more of your friends lives">
                                            <title>Percentage of the 195 UN recognised countries where one or more of your friends lives</title>
                                            <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                                c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                                c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                                S251.539,157,230,157z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col box pl-3 pr-2 ml-2 mb-4">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxDictatorships"></p>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <p style="bottom: 0">dictatorships</p>
                            </div>
                            <div class="col">
                                <svg version="1.1" height="18px" width="18px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                                    <g>
                                        <g title="Countries ruled by a dictator where one or more of the users in your network live">
                                            <title>Countries ruled by a dictator where one or more of the users in your network lives</title>
                                            <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                                c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                                c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                                S251.539,157,230,157z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Flag emoji box -->
                <div class="row ml-1 mr-2">
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <div class="col box pl-3 pr-2">
                                    <div class="row pl-1 mr-1">
                                        <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text"  id="statBoxAlsoFromYourCountry"></p> 
                                    </div>
                                    <div class="row">
                                        <p style="bottom: 0">network friends are from your country</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="col box pl-3 pr-2">
                                    <div class="row pl-1 mr-1">
                                        <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text"  id="statBoxContinentCoverage"></p> 
                                    </div>
                                    <div class="row">
                                        <div class="col-9 pl-1 pr-1">
                                            <p style="bottom: 0">continent coverage</p>
                                        </div>
                                        <div class="col">
                                            <svg version="1.1" height="18px" width="18px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                                                <g>
                                                    <g title="Countries ruled by a dictator where one or more of the users in your network live">
                                                        <title>The percentage of continents where one or more of the users in your network lives</title>
                                                        <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                                            c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                                            c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                                            S251.539,157,230,157z"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col box ml-2" style="height: 20rem">
                        <p class="text-center" style="font-size: 1.2rem;">You've got friends from around the world</p>
                        <div class="row ml-2 mr-2" id="allFlagsDiv"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Friend creation year chart -->
        <div class="row mt-3 mb-3">
            <div class="col ml-1 box" style="height: 30rem">
                <div class="row text-center">
                    <p style="font-size: 1.4rem"> Creation year </p>
                </div>

                <div class="row" style="height: 100%">
                    <div id="creationYearBarChartContainer"></div>
                </div>
            </div>
        </div>


        <!-- Oldest and newest user cards -->
        <div class="row">
            <div class="col">
                <div class="row text-center">
                    <p style="font-size: 1.4rem"> Oldest User</p>
                </div>
                <div class="row">

                    <!-- User info card -->
                    <div class="col ml-3 mb-4 box">
                        <div class="row ml-0">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col mb-2">
                                        <p id="oldestUserUsername" class="skeleton" style="font-size: 2rem; font-weight: 700; width: 80%; height: 3rem" >
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Country:
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="oldestUserCountry" style="font-weight: 500" class="skeleton skeleton-text"></p>
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Friends: 
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="oldestUserFriendCount" style="font-weight: 500; width: 90%" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Created:
                                        </p>
                                    </div>
                                    <div class="col truncate">
                                        <p id="oldestUserCreationDate" style="font-weight: 500" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            ProfileLink: 
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="oldestUserProfile" style="font-weight: 500; width: 83%" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col" id="oldestUserAvatarCol">
                                <div class="oldestUserProfiler" style="position: relative">
                                    <img class="mr-1 float-end skeleton" style="border-radius: 10px; height: 10rem; width: 10rem" id="oldestUserAvatar"></img>
                                </div>
                                <div class="oldestUserCountry " style="position: absolute; bottom: 0; left: 12%;">
                                    <img id="oldestUserCountryFlag" class="float-end" style="width: 50%"></img>
                                </div>
                            </div>
                        </div>
                    </div><!-- end user info card -->
                </div>
            </div>

            <div class="col">
                <div class="row text-center ml-2">
                    <p style="font-size: 1.4rem"> Newest User</p>
                </div>
                <div class="row">
                    <!-- User info card -->
                    <div class="col ml-3 mb-4 box">
                        <div class="row ml-0">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col mb-2">
                                        <p id="newestUserUsername" class="skeleton" style="font-size: 2rem; font-weight: 700; width: 80%; height: 3rem" >
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Country:
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="newestUserCountry" style="font-weight: 500" class="skeleton skeleton-text"></p>
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Friends: 
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="newestUserFriendCount" style="font-weight: 500; width: 90%" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            Created:
                                        </p>
                                    </div>
                                    <div class="col truncate">
                                        <p id="newestUserCreationDate" style="font-weight: 500" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            SteamID64: 
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p id="newestUserProfile" style="font-weight: 500; width: 83%" class="skeleton skeleton-text">
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col" id="newestUserAvatarCol">
                                <div class="newestUserProfiler" style="position: relative">
                                    <img class="mr-1 float-end skeleton" style="border-radius: 10px; height: 10rem; width: 10rem" id="newestUserAvatar"></img>
                                </div>
                                <div class="newestUserCountry " style="position: absolute; bottom: 0; left: 12%;">
                                    <img id="newestUserCountryFlag" class="float-end" style="width: 50%"></img>
                                </div>
                            </div>
                        </div>
                    </div><!-- end user info card -->
                </div>
            </div>
        </div>


        <!-- Friend creation month chart -->
        <div class="row mt-3 mb-2">
            <div class="col box">
                <div class="row text-center">
                    <p style="font-size: 1.4rem"> Creation Month </p>
                </div>

                <div class="row" style="height:13rem">
                    <div id="creationMonthHeatMapContainer"></div>
                </div>
            </div>
            <div class="col-3 ml-3">
                <div class="row">
                    <div class="col box pl-3 pr-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 3.5rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxMostPopularMonth"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">most popular month</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col box pl-3 pr-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 3.5rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxLeastPopularMonth"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">least popular month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col ml-1 box" style="height: 30rem">
               <div class="row text-center">
                   <p style="font-size: 1.4rem"> Account age vs friend count </p>
               </div>

               <div class="row" style="height: 100%">
                   <div id="accountAgeVsFriendCountScatterPlot"></div>
               </div>
           </div>
       </div>


       <!-- Oldest and newest user cards -->
       <div class="row mt-3 justify-content-md-center">
        <div class="col-6">
            <div class="row text-center">
                <p style="font-size: 1.4rem"> Highest friend count</p>
            </div>
            <div class="row">
                <!-- User info card -->
                <div class="col ml-3 mb-4 box">
                    <div class="row ml-0">
                        <div class="col-8">
                            <div class="row">
                                <div class="col mb-2">
                                    <p id="highestFriendCountUserUsername" class="skeleton truncate" style="font-size: 2rem; font-weight: 700; width: 80%; height: 3rem" >
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        Country:
                                    </p>
                                </div>
                                <div class="col">
                                    <p id="highestFriendCountUserCountry" style="font-weight: 500" class="skeleton skeleton-text"></p>
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        Friends: 
                                    </p>
                                </div>
                                <div class="col">
                                    <p id="highestFriendCountUserFriendCount" style="font-weight: 500; width: 90%" class="skeleton skeleton-text">
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        Created:
                                    </p>
                                </div>
                                <div class="col truncate">
                                    <p id="highestFriendCountUserCreationDate" style="font-weight: 500" class="skeleton skeleton-text">
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        Profile: 
                                    </p>
                                </div>
                                <div class="col">
                                    <p id="highestFriendCountUserProfile" style="font-weight: 500; width: 83%" class="skeleton skeleton-text">
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col" id="highestFriendCountUserAvatarCol">
                            <div class="highestFriendCountUserProfiler" style="position: relative">
                                <img class="mr-1 float-end skeleton" style="border-radius: 10px; height: 10rem; width: 10rem" id="highestFriendCountUserAvatar"></img>
                            </div>
                            <div class="highestFriendCountUserCountry " style="position: absolute; bottom: 0; left: 12%;">
                                <img id="highestFriendCountUserCountryFlag" class="float-end" style="width: 50%"></img>
                            </div>
                        </div>
                    </div>
                </div><!-- end user info card -->
            </div>
        </div>
    </div>



        <div class="row">
             <div class="col ml-1 box" style="height: 30rem">
                <div class="row text-center">
                    <p style="font-size: 1.4rem"> Playtime across the top games of your friend network</p>
                </div>

                <div class="row" style="height: 100%">
                    <div id="gamesBarChartContainer"></div>
                </div>
            </div>
        </div>



        <div class="row mt-3">
            <div class="col">
                <div class="row">
                    <div class="col-3 box pl-3 pr-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxHoursAcrossLibrary"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">hours across your library</p>
                        </div>
                    </div>
                    <div class="col-2 box pl-3 pr-2 ml-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxEntireDaysOfPlaytime"></p> 
                        </div>
                        <div class="row">
                            <p style="bottom: 0">entire days of playtime</p>
                        </div>
                    </div>
                    <div class="col-3 box pl-3 pr-2 ml-2">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxFriendsWithLessHoursPlayed"></p>
                        </div>
                        <div class="row">
                            <p style="bottom: 0">of your friends have less hours played</p>
                        </div>
                    </div>
                    <div class="col box pl-3 pr-2 ml-2 mb-4">
                        <div class="row pl-1 mr-1">
                            <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxMinWageEarned"></p>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p style="bottom: 0">earned if gaming was a minimum wage job</p>
                            </div>
                            <div class="col">
                                <svg version="1.1" width="12px" heigt="12px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                                    <g>
                                        <g title="How much money you would've earned on an hourly wage of €10.20">
                                            <title>How much money you would've earned on an hourly wage of €10.20</title>
                                            <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                                c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                                c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                                S251.539,157,230,157z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-5 box pl-4 pr-4"> <!-- hours of playtime leaderboard -->
                <div class="row text-center">
                    <p style="font-size: 1.4rem">Most hours of playtime across all games</p>
                </div>
                <hr class="mt-1 mb-2">
                <div class="row justify-content-start" style="font-size: 0.9rem">
                    <div class="col-1">
                        #
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-7">
                    </div>
                    <div class="col-3">
                        Total Hours
                    </div>
                </div>

                <div class="col" id="hoursPlayedLeaderboard">

                </div>

            </div> <!-- hours of playtime leaderboard -->


            <div class="col box ml-2 mb-4" style="height: 100%">
                <div id="networkMostHoursPlayedBarChart"  style="height: 24rem; width: 45rem; padding-top: 0.7rem"></div>
            </div>
        </div>

        
        <div class="row mt-3 mb-2">
            <div class="col text-center">
                <p style="font-size: 1.4rem"> Your favorite game </p>
            </div>
            <div class="col text-center">
                <p style="font-size: 1.4rem"> Your network's favorite game </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="row">
                    <div class="col-3 box pl-3 pr-2">
                        <div class="row pl-1 mr-1">
                            <img 
                                src=""
                                id="userFavoriteGameImage"
                                style="width: 25rem; height: 9rem"
                                class="skeleton"
                            >
                        </div>
                        <div class="row text-center truncate mt-1 pl-2 pr-3">
                            <p id="userFavoriteGameName" style="font-size: 1.2rem; font-weight: 500;" class="skeleton skeleton-text" ></p>
                        </div>
                        <div class="row text-center truncate mt-1 pl-2 pr-3">
                            <p id="userFavoriteGameXFriendsAlsoPlay" class="skeleton skeleton-text"></p>
                        </div>
                        <div class="row text-center truncate">
                            <p><a id="userFavoriteGameShopPage" href="">Store Page</a></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col box ml-2 mb-2">
                                <div class="row pl-1 ml-1 mr-1">
                                    <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxUsersFavoriteGameHoursPlayed"></p> 
                                </div>
                                <div class="row">
                                    <p style="bottom: 0">hours played</p>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col box ml-2">
                                <div class="row pl-1 ml-1 mr-1">
                                    <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxUsersFavoriteGamesCostPerHour"></p> 
                                </div>
                                <div class="row">
                                    <p style="bottom: 0">cost per hour</p>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col box ml-2 mb-2">
                                <div class="row pl-1 ml-1 mr-1">
                                    <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxNetworksFavoriteGameHoursPlayed"></p> 
                                </div>
                                <div class="row">
                                    <p style="bottom: 0">total hours played</p>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col box ml-2">
                                <div class="row pl-1 ml-1 mr-1">
                                    <p style="font-size: 4rem; height: 5rem; font-weight: 600" class="skeleton skeleton-text" id="statBoxNetworksFavoriteGameCostPerHourAverage"></p> 
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <p style="bottom: 0">average cost per hour</p>
                                    </div>
                                    <div class="col">
                                        <svg version="1.1" width="18px" heigt="18px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                                            <g>
                                                <g title="Average cost per hour across all friends">
                                                    <title>Average cost per hour across all friends</title>
                                                    <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                                        c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                                        c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                                        S251.539,157,230,157z"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-3 box ml-2 pl-3 mb-1">
                        <div class="row text-center">
                            <p style="font-size: 1.4rem"> </p>
                        </div>
                        <div class="row pl-1 mr-1">
                            <img 
                                src=""
                                id="networkFavoriteGameImage"
                                style="width: 25rem; height: 9rem"
                                class="skeleton"
                            >
                        </div>
                        <div class="row text-center truncate mt-1 pl-2 pr-3">
                            <p id="networkFavoriteGameName" style="font-size: 1.2rem; font-weight: 500;" class="skeleton skeleton-text" ></p>
                        </div>
                        <div class="row text-center truncate mt-1 pl-2 pr-3">
                            <p id="networkFavoriteGameXFriendsAlsoPlay" class="skeleton skeleton-text"></p>
                        </div>
                        <div class="row text-center truncate">
                            <p><a id="networkFavoriteGameShopPage" href="">Store Page</a></p>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col"></div>
            <div class="col-5 box" style="height:27rem">
                <div class="row text-center">
                    <div class="col-10">
                        <p style="font-size: 1.4rem">Overall Gamer Score™</p>
                    </div>
                    <div class="col">
                        <svg version="1.1" width="18px" heigt="18px" viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
                            <g>
                                <g title="Your Gamer Score™ is a score that ranks your account based on your total hours played and your friend count">
                                    <title>Your Gamer Score™ is a score that ranks your account based on your total hours played and your friend count</title>
                                    <path fill="#ffffff" title="Percentage of the 195 UN recognised countries where one or more of your friends lives" d="M230,0C102.975,0,0,102.975,0,230s102.975,230,230,230s230-102.974,230-230S357.025,0,230,0z M268.333,377.36
                                        c0,8.676-7.034,15.71-15.71,15.71h-43.101c-8.676,0-15.71-7.034-15.71-15.71V202.477c0-8.676,7.033-15.71,15.71-15.71h43.101
                                        c8.676,0,15.71,7.033,15.71,15.71V377.36z M230,157c-21.539,0-39-17.461-39-39s17.461-39,39-39s39,17.461,39,39
                                        S251.539,157,230,157z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="gamerScore" style="height: 38rem"></div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-3"></div>
            <div class="col box">
                <div class="row text-center">
                    <p style="font-size: 2rem">View your interactive graph</p>
                </div>
                <div class="row mt-2">
                    <a id="interactiveGraphLink" href="" target="_blank">
                        <video 
                            autoplay loop autobuffer muted playsinline
                            src="/static/images/finished.mp4"
                            style="border-radius: 12px;"
                        >
                    </a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>

    </div>

    </div>
    </div>

    <div id="3d-graph"></div>
    <script src="/static/javascript/graphPage.js" type="module"></script>
</body>
</html>