<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap" rel="stylesheet"> 
    <link href="../../static/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">


    <link rel="apple-touch-icon" sizes="57x57" href="static/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/6561327?s=460&v=4" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cathaloc.dev" />
    <meta property="og:title" content="SteamFriendsGraphing, graph your network of friends on Steam" />
    <meta property="og:description" content="NUIG Computer Science & IT Final Year Project 2022" />

    <title>SteamFriendsGraphing</title>

</head>

<body>

    <div id="3d-graph"></div>

    <script src="https://unpkg.com/three"></script>
    <script src="https://unpkg.com/3d-force-graph"></script>
    <script src="/static/javascript/interactiveGraphPage.js"></script>
</body>
</html>